# Payload
PAYLOAD_SECRET=your-payload-secret
PAYLOAD_CONFIG_PATH=app/(payload)/payload.config.ts

# Database
DATABASE_URL=postgres://user:password@127.0.0.1:5432/database

# Vercel Blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_...
